<!doctype html>
<html lang="en">
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <!--Favicon-->
   <link rel="icon" href="/static/favicon_io/favicon.png" type="image/icon" sizes="16x16">

   <!--Fontawesome Icons-->
   <script src="https://kit.fontawesome.com/79b8cabcc5.js" crossorigin="anonymous"></script>

   <title>DNS VideoChat</title>
</head>
<body>
    <!--begin::navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DNS VideoChat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/home"><i class="fa fa-fw fa-home"></i> Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000/aboutus"><i class="fa fa-fw fa-user"></i> About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/contact"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--end::navbar-->
    <!--begin::about-->
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">About Us <span class="text-muted"></span></h2>
                <p class="lead">DNS video chat was developed with a single purpose in mind; to bring similar people
                    together.
                    We have achieved that by creating a video chat site where you can find people according to their
                    locations.
                    Our video chat platform makes it easier for people to meet strangers randomly online, even when they
                    are just around the corner.
                    We wanted to bring something unique, something different from all of the other google meet
                    Alternative chat sites out there.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="/static/img/about-1.jfif" alt="">
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading"> Why We Value Our Users <span class="text-muted"></span></h2>
                <p class="lead">We value our users because we are users of video chat ourselves.
                    We have spent many years using video chat sites, and this helps us to understand what chat site
                    users want.
                    Our team built a unique system where you can connect with a total stranger, however, unlike other
                    random chat sites that person is nearby your current location.
                    If you fall in love, you won’t have to take a 24-hour airplane flight every time you want to visit
                    them.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="/static/img/about-2.jfif" alt="">
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading"> Who We Are <span class="text-muted"></span></h2>
                <p class="lead">We’re a wonderful team of workers that love our jobs.
                    We wake up every morning and do our best to work as a team to bring you a great chatting experience.
                    Our team consists of writers, social media managers, researchers, and coders.
                    Together we form a team that brings you the best possible Google Meet Alternative chat experience
                    you will ever find on the internet.</p>
                <p class="lead">Reunited, we have many years of experience in the field of developing websites and
                    making them addictive.
                    If you are hooked on DNS Video Chat, chances are, it’s down to our fantastic team who are
                    responsible for creating fun features.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="/static/img/about-3.jfif" alt="">
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading"> The Future Of DNS Video Chat <span class="text-muted"></span></h2>
                <p class="lead">Where we are heading is crucial to us.
                    Yes, we already have success with over 50,000 users online at any given moment, but we don’t want to
                    stop now.
                    We continuously work on new features and better safety to make our website the absolute best in the
                    industry.
                    Our team is always developing new features and coming up with innovative new ideas to make this site
                    the best chatting environment online.
                    We have plans to bring DNS Video Chat to the mobile phone world; we plan on making this site
                    impossible for fake webcam software to use,
                    and many more projects are in the pipeline.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="/static/img/about-4.jfif" alt="">
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading"> Our Mission <span class="text-muted"></span></h2>
                <p class="lead">Our mission is to continuously evolve. We want to keep working on this site until the
                    day we retire.
                    Since our mission is also to bring people together, we feel pride every time random strangers form a
                    new relationship
                    or friendship on our website. For that matter, please contact us with your success stories.
                    Tell us how you met someone interesting on this cam to cam site or explain to us how you found your
                    soul mate here.
                    We will love to read it!</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                    src="/static/img/about-5.jfif" alt="">
            </div>
        </div>
    </div>
    <!--end::about-->

    <div class="dropdown-divider"></div>
    <!--begin::copyright-->
    <footer class="container-fluid bg-dark my-0 py-3 text-light">
        <p class="mb-0 text-center">© 2020-2021 DNSVideoChat.com</p>
    <!--end::copyright-->
    <!--begin::nav-->
        <p class="mb-0 text-center text-light">
            <a href="#">Back to top |</a>
            <a href="http://127.0.0.1:8000/home">Home |</a>
            <a href="http://127.0.0.1:8000/contact">Contact Us</a>
        </p>
    <!--end::nav-->
    </footer>

    <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>
</body>

</html>